<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHPRadius</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_722334_j10bg4p5wdk.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <div class="mobile-menu iconfont icon-caidan"></div>
    <div class="logo"><a href="#" class="logo-text">PHPRadius</a></div>
    <div class="top-user">
        <div class="nav-user">farmer <i class="iconfont icon-down"></i></div>
    </div>
</div>
<div class="nav-left">
    {:echoMenu($menu)}
</div>
