{include '/../public/header'}
<div class="content">
    <div class="card" style="width: 100%;min-height: 200px;">
        <div class="card-content" style="width: 100%;height: 100%;min-height: 200px;">
            <div class="card-header">用户管理</div>
            <div class="card-text">
                <div id="user-table">
                    <v-table is-horizontal-resize style="width:100%" :columns="columns" :table-data="tableData" row-hover-color="#eee" row-click-color="#edf7ff"></v-table>
                </div>
            </div>
        </div>
    </div>
</div>
{:_js('user')}
{include '/../public/footer'}
